{{ define "main" }}
<!DOCTYPE html>
<html>

<head>
    {{ template "head" .Data }}
</head>

<body>
    <header>
        {{ template "header" . }}
        <nav id="nav">
            {{ template "nav" .}}
        </nav>
        {{ if .Login }}
        <div id="menu" onclick="nav()">≡</div>
        {{ end }}
    </header>
    <main>
        <div id="header-filler"></div>
        {{ block "content" .Data }}{{ end }}
        {{ block "content-with-session" . }}{{ end }}
    </main>
    <footer>
        {{ template "footer" . }}
    </footer>
</body>

</html>
{{ end }}

{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fever Pass - {{ block "title" . }} {{ end }}</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
<script src="/static/js/nav.js"></script>
{{ end }}