{{ define "main" }}
<!DOCTYPE html>
<html>

<head>
    {{ template "head" .Data }}
</head>

<body>
    <header>
        {{ template "header" . }}
        <nav id="nav">
            {{ template "nav" .}}
        </nav>
    </header>
    
    <main>
        {{ block "content" .Data }}{{ end }}
        {{ block "content-with-session" . }}{{ end }}
    </main>
    <div id="filler"></div>
    <footer>
        {{ template "footer" . }}
    </footer>
</body>

</html>
{{ end }}

{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fever Pass - {{ block "title" . }} {{ end }}</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/nav.js"></script>
{{ end }}