{{ define "main" }}
<!DOCTYPE html>
<html>

<head>
    {{ template "head" . }}
</head>

<body>
    <header>
        {{ template "header" . }}
        <nav id="nav">
            {{ template "nav" .}}
        </nav>
        {{ if .Login }}
        <div id="menu" onclick="nav()">≡</div>
        {{ end }}
    </header>
    <main>
        <div id="header-filler"></div>
        {{ block "content" .Data }}{{ end }}
        {{ block "content-with-session" . }}{{ end }}
    </main>
    <footer>
        {{ template "footer" . }}
    </footer>
</body>

</html>
{{ end }}

{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Config.Site.Name }} - {{ block "title" .Data }} {{ end }}</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<script src="/static/js/nav.js"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.wancat.cc/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{{ end }}