{{ define "list" }}
<script src="/js/delete.js"></script>
<table>
    <tr>
        <th>姓名</th>
        <th>體溫（℃）</th>
        <th>類型</th>
        <th>發燒</th>
        <th>時間</th>
        <th>記錄者</th>
        <th></th>
    </tr>
    <tbody id="table">
        {{ range . }}
        <tr>
        {{ block "row" . }}
            <td><a href="/list?account_id={{ .Account.ID }}">{{ .Account }}</a></td>
            <td>{{ .Temperature }}</td>
            <td>{{ .Type }}</td>
            <td>{{ if .Fever }}發燒{{ else }}正常{{ end }}</td>
            <td>{{ formatTime .CreatedAt }}</td>
            <td>{{ .RecordedBy }}</td>
            <td><button value="{{ .ID }}" onclick="deleteRow(this, 'records')">刪除</button></td>
        {{ end }}
        </tr>
        {{end}}
    </tbody>
</table>
{{ end }}