{{ define "list" }}
<script src="/static/js/delete.js"></script>
<table>
    <tr>
        <th>帳號</th>
        <th>班級</th>
        <th>座號</th>
        <th>姓名</th>
        <th>體溫（℃）</th>
        <th>類型</th>
        <th>時間</th>
        <th>記錄者</th>
        <th></th>
    </tr>
    <tbody id="table">
        {{ range . }}
        {{ block "row" . }}
        <tr {{ if .Fever }}class="fever" {{ end }}>
            <td>{{ .Account.ID }}</td>
            <td>{{ .Account.Class }}</td>
            <td>{{ .Account.Number }}</td>
            <td>
                <a href="/list?account_id={{ .Account.ID }}">{{ .Account }}</a>
            </td>
            <td>{{ .Temperature }}</td>
            <td>{{ .Type }}</td>
            <td>{{ formatTime .CreatedAt }}</td>
            <td>{{ .RecordedBy }}</td>
            <td><button value="{{ .ID }}" onclick="deleteRow(this, 'records')">刪除</button></td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
{{ end }}