body {
    margin: 0 4px;
}

form button {
    border: none;
    color: white;
    padding: 20px 28px;
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.2s 0.1s;
}

header ,footer {
    font-size: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

header {
    font-size: 20px;
}

a {
    color: #000;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a:hover {
    text-decoration: 3px solid #4b4;
    transition: all ease 0.2s 0.1s;
}

.doc {
    text-align: left;
    width: 80%;
    margin: auto;
}

form {
    margin: 32px;
}

button:hover {
    background-color: #4b4;
}

main {
    text-align: center;
}

#middle {
    padding: 25vh 0;
    margin: 0 auto;
}

#login-input {
    padding: 20px;
    font-size: 20px;
}

input:focus {
    background-color: #eef;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

input[name="user_id"] {
    margin: 6px;
}

table {
    margin: 0 auto;
    width: 70%;
}

th {
    background: #ada;
}

tr {
    background: #dfd;
}

h1 {
    font-size: 72px;
    margin-top: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}