form button {
    border: none;
    color: white;
    padding: 20px 28px;
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
}

form {
    margin: 32px;
}

button:hover {
    background-color: #2b6;
}

main {
    text-align: center;
}

#middle {
    margin: 35vh auto 0;
}

#login-input {
    padding: 20px;
    font-size: 20px;
}

input:focus {
    background-color: #eef;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

input[name="user_id"] {
    margin: 6px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
}

table {
    margin: 0 auto;
    width: 70%;
}

th {
    background: #aad;
}

tr {
    background: #ddf;
}

h1 {
    font-size: 72px;
    margin-top: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}