form button {
    background-color: #2b6;
    border: none;
    color: white;
    padding: 20px 28px;
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
}

main {
    margin: 35vh auto 0;
    text-align: center;
}

input {
    font-size: 20px;
    padding: 20px;
}

input:focus {
    background-color: #eef;
}

table {
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 32px;
    margin-bottom: 48px;
}
