{{ define "title" }}帳號管理{{ end }}
{{ define "content-with-session" }}
<h1>帳號管理</h1>

<form action="/accounts" method="get">
{{ if gt .Data.Page 1 }}
<a href="/accounts?page={{ add .Data.Page -1 }}">上一頁</a>
{{ end }}
<span>第<input id="page" type="number" name="page" value="{{ .Data.Page }}">頁</span>
{{ if eq 100 (len .Data.Accounts) }}
<a href="/accounts?page={{ add .Data.Page 1}}">下一頁</a>
{{ end }}
<br>
{{ $acct := .Account }}

{{ if eq $acct.Authority.Account 3 }}
<a href="/register">新增使用者</a>
<a href="/import">匯入帳號資料 (.csv 檔)</a>
{{ end }}
</form>
<table>
    <tr>
        <th>帳號</th>
        <th>班級</th>
        <th>座號</th>
        <th>姓名</th>
        <th>身份</th>
        <th></th>
    </tr>
    <tbody>
        {{ range .Data.Accounts }}
        <tr {{ if eq .Role 1 }} class="admin" {{ end }} {{ if eq .Role 2 }} class="staff" {{ end }}
            {{ if and ( eq .Authority.Record 2 ) ( eq .Role 3 ) }} class="hygiene" {{ end }}>
            <td>{{ .ID }}</td>
            <td>{{ .Class }}</td>
            <td>{{ .Number }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Authority }}</td>
            <td><a href="/accounts/{{ .ID }}">詳細資訊</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ if gt .Data.Page 1 }}
<a href="/accounts?page={{ add .Data.Page -1 }}">上一頁</a>
{{ end }}
<span>第<input id="page" type="number" name="page" value="{{ .Data.Page }}">頁</span>
{{ if eq 100 (len .Data.Accounts) }}
<a href="/accounts?page={{ add .Data.Page 1}}">下一頁</a>
{{ end }}

{{ end }}