{{ define "title" }}帳號管理{{ end }}
{{ define "content-with-session" }}
<script src="/js/delete.js"></script>
<script src="/js/update.js"></script>
<h1>帳號管理</h1>
{{ $acct := .Account }}
{{ if eq $acct.Role 1 }}
<a href="/register">新增使用者</a>
<a href="/import">匯入帳號資料 (.csv 檔)</a>
{{ end }}
<table>
    <tr>
        <th>帳號</th>
        <th>班級</th>
        <th>座號</th>
        <th>姓名</th>
        <th>權限</th>
        {{ if eq $acct.Role 1 }}
        <th></th>
        <th></th>
        {{ end }}
    </tr>
    <tbody>
        {{ range .Data }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Class }}</td>
            <td>{{ .Number }}</td>
            <td>{{ .Name }}</td>
            <td>
                {{ if and ( eq $acct.Role 1 ) ( ne .ID "admin" ) }}
                <select onchange="update(this, '{{ .ID }}')" >
                    <option value="1" {{ if eq .Role 1 }}selected{{ end }}>管理員</option>
                    <option value="2" {{ if eq .Role 2 }}selected{{ end }}>登記者</option>
                    <option value="3" {{ if eq .Role 3 }}selected{{ end }}>學生</option>
                </select>
                {{ else }} {{ .Role }} {{ end }}
            </td>
            {{ if eq $acct.Role 1 }}
            <td>
                <button><a href="/reset?account_id={{ .ID }}">重設密碼</a></button>
            </td>
            <td>
                {{ if ne .ID "admin" }}
                <button value="{{ .ID }}" onclick="deleteAccount(this)">刪除帳號</button>
                {{ end }}
            </td>
            {{ end }} 
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
