{{ define "title" }}匯入帳號{{ end }}
{{ define "content" }}
<script>
    function updateFileName(file) {
        document.getElementById("filename").innerText = file.value.split("\\").pop()
    }
</script>
<div class="middle">
    <h1>匯入帳號資料</h1>
    <form action="/import" method="post" enctype="multipart/form-data">
        <label for="file">上傳 .csv 檔</label>
        <input type="file" name="file" onchange="updateFileName(this)">
        <select name="role">
            <option value="3">學生</option>
            <option value="2">老師</option>
            <option value="1">管理員</option>
        </select>
        <input type="submit" value="匯入"><br>
        <p id="filename"></p><br>
        <a href="/example.csv">下載 .csv 檔模板</a>
    </form>
</div>
{{ with . }}
<p>{{ . }}</p>
{{ end }}
{{ end }}