{{ define "title" }}體溫記錄系統{{ end }}
{{ define "content-with-session" }}
<div class="middle">
    <div>
        <h1>Fever Pass</h1>
        <h2>體溫記錄系統</h2>
        {{ if .Login }}
            <form action="/" id="home-form" method="POST">
                <label for="temperature">體溫（℃）</label>
                <input type="number" name="temperature" step="0.1" id="" required autofocus autocomplete="off" min="34" max="41">
                <select name="type" id="">
                    <option value="1">耳溫</option>
                    <option value="2">額溫</option>
                </select>
                <input type="submit" value="記錄">
            </form>
            <p id="result">{{ .Message }}</p>
        {{ else }}
            <script src="/js/login.js" defer></script>
            <form action="" id="home-form">
                <label for="username">帳號</label>
                <input type="text" name="username">
                <label for="password">密碼</label>
                <input type="password" name="password">
                <input type="submit" value="登入">
                <p id="msg"></p>
            </form>
        {{ end }}
        {{ with .Data }}
        {{ if ne .ID 0 }}
            <table>
                <tr>
                    <th>體溫（℃）</th>
                    <th>狀態</th>
                    <th>類型</th>
                    <th>時間</th>
                </tr>
                <tr {{ if .Fever }}class="fever"{{ end }}>
                    <td>{{ .Temperature }}</td>
                    <td>{{ if .Fever }}發燒{{ else }}正常{{ end }}</td>
                    <td>{{ .Type }}</td>
                    <td>{{ formatTime .CreatedAt }}</td>
                </tr>
            </table>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}