{{ define "title" }}
{{ .Title }}體溫歷史記錄
{{ end }}
{{ define "content-with-session" }}
<script src="/static/js/get_account.js"></script>
<h1>{{ template "title" .Data }}</h1>

<form action="/list" method="get" id="form">
    {{ if ge .Authority.Record 3 }}
    <label>班級</label>
    <input type="text" name="class"><br class="mobile-br">
    {{ end }}
    {{ if ge .Authority.Record 2 }}
    <label>座號</label>
    <input type="number" name="number"><br class="mobile-br">
    {{ end }}
    <label>日期</label>
    <input type="date" name="date">
    <input type="submit" value="查詢">
</form>

{{ with .Data }}
<p>第 {{ .Page }} 頁</p>

{{ if gt .Page 1 }}
<a href="/list?page={{ add .Page -1 }}">上一頁</a>
{{ end }}
{{ if eq .PageLimit (len .Records) }}
<a href="/list?page={{ add .Page 1}}">下一頁</a>
{{ end }}

{{ if ne (len .Records) 0}}
{{ template "list" .Records }}
{{ else }}
<h2>查無資料</h2>
{{ end }}

{{ if gt .Page 1 }}
<a href="/list?page={{ add .Page -1 }}">上一頁</a>
{{ end }}
{{ if eq .PageLimit (len .Records) }}
<a href="/list?page={{ add .Page 1}}">下一頁</a>
{{ end }}

{{ end }}
{{ end }}