{{ define "title" }}登入{{ end }}
{{ define "content-with-session" }}
<div class="middle">
    <div>
        <h1 id="home-h1">Fever Pass</h1>
        <h2 id="home-h2">體溫登記系統 登入</h2>
        <form action="/login" id="home-form" method="POST">
            <label for="username">帳號</label>
            <input type="text" name="username" autofocus>
            <label for="password">密碼</label>
            <input type="password" name="password">
            <input type="submit" value="登入">
            <input type="reset" value="清空">
            <p id="msg">{{ .Message }}</p>
        </form>
    </div>
</div>
{{ end }}