{{ define "title" }}Fever Pass - 管理頁面{{ end }}
{{ define "content" }}
<script src="/js/new.js" defer></script>
<script src="/js/delete.js"></script>
<form action="" id="form">
    ID<input type="text" name="user_id" autocomplete="off" autofocus>
    發燒 <input type="checkbox" name="pass" id="" value="true">
    <input type="submit" value="新增">
</form>
<table>
    <tr>
        <th>流水號</th>
        <th>ID</th>
        <th>體溫</th>
        <th>時間</th>
        <th></th>
    </tr>
    <tbody id="table">
        {{range .Records}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.UserID}}</td>
            <td>{{if .Fever}}發燒{{else}}正常{{end}}</td>
            <td>{{formatTime .Time}}</td>
            <td><button value="{{.ID}}" onclick="delRecord(this)">刪除</button></td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ end }}