{{ define "content-with-session" }}
<script src="/static/js/delete.js"></script>
<script src="/static/js/update.js"></script>
<div class="middle">
<h1>{{ block "title" .Data }}{{ .Name }} 帳號資訊{{ end }}</h1>
{{ $acct := .Account }}
{{ with .Data }}
<table>
    <tr>
        <th>帳號</th>
        <th>班級</th>
        <th>座號</th>
        <th>姓名</th>
        <th>職稱</th>
    </tr>
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Class }}</td>
        <td>{{ .Number }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Authority }}</td>
    </tr>
</table>
<table>
    <tr>
        <th>身份</th>
        <th>體溫管理權限</th>
        <th>帳號管理權限</th>
        {{ if or (ge $acct.Authority.Account 2) (eq $acct.ID .ID) }}
        <th></th>
        {{ end }}
        {{ if eq $acct.Authority.Account 3 }}
        <th>刪除帳號</th>
        {{ end }}
    </tr>
    <tr>
        {{ if and ( eq $acct.Authority.Account 3 ) ( ne .ID "admin" ) }}
        <td>
            <select name="role" onchange="update('{{ .ID }}', this.name, this.value)" autocomplete="off">
                <option value="admin" {{ if eq .Role 1 }}selected{{ end }}>管理員</option>
                <option value="staff" {{ if eq .Role 2 }}selected{{ end }}>教職員</option>
                <option value="student" {{ if eq .Role 3 }}selected{{ end }}>學生</option>
            </select>
        </td>
        {{ else }}
        <td>{{ .Authority }}</td>
        {{ end }}
        {{ if and ( ge $acct.Authority.Account 2 ) ( ne .ID "admin" ) }}
        <td>
            <select name="record_authority" onchange="update('{{ .ID }}', this.name, this.value)" autocomplete="off">
                <option value="self" {{ if eq .Authority.Record 1 }}selected{{ end }}>個人</option>
                <option value="group" {{ if eq .Authority.Record 2 }}selected{{ end }}>班級</option>
                {{ if eq $acct.Authority.Account 3 }}
                <option value="all" {{ if eq .Authority.Record 3 }}selected{{ end }}>全校</option>
                {{ end }}
            </select>
        </td>
        <td>
            <select name="account_authority" onchange="update('{{ .ID }}', this.name, this.value)" autocomplete="off">
                <option value="self" {{ if eq .Authority.Account 1 }}selected{{ end }}>個人</option>
                <option value="group" {{ if eq .Authority.Account 2 }}selected{{ end }}>班級</option>
                {{ if eq $acct.Authority.Account 3 }}
                <option value="all" {{ if eq .Authority.Account 3 }}selected{{ end }}>全校</option>
                {{ end }}
            </select>
        </td>
        {{ else }}
        <td>{{ .Authority.Record }}</td>
        <td>{{ .Authority.Account }}</td>
        {{ end }}
        {{ if or (ge $acct.Authority.Account 2) (eq $acct.ID .ID) }}
        <td>
            <button><a href="/reset?account_id={{ .ID }}">重設密碼</a></button>
        </td>
        {{ end }}
        {{ if eq $acct.Authority.Account 3 }}
        <td>
            {{ if ne .ID "admin" }}
            <button value="{{ .ID }}" onclick="deleteAccount(this)">刪除帳號</button>
            {{ end }}
        </td>
        {{ end }}
    </tr>
</table>
{{ end }}
{{ end }}
</div>