{{ define "title" }}新增使用者{{ end }}
{{ define "content-with-session" }}
<div class="middle">
<h1>新增使用者</h1>
<form action="/register" id="form" method="POST">
    帳號 <input type="text" name="account_id" required><br class="mobile-br">
    姓名 <input type="text" name="name" required><br class="mobile-br">
    班級 <input type="text" name="class">
    座號 <input type="number" name="number"><br class="mobile-br">
    密碼 <input type="password" name="password"><br class="mobile-br">
    身份 <select name="authority" required>
        {{ range .Data.authorities }}
        <option value="{{ .Key }}">
            {{ . }}
        </option>
        {{ end }}
    </select>
    <input type="submit" value="新增">
    {{ with .Message }}
    <p id="msg">{{ . }}</p>
    {{ end }}
</form>
</div>
{{ end }}