{{ define "title" }}新增使用者{{ end }}
{{ define "content" }}
<div class="middle">
<h1>新增使用者</h1>
<form action="/register" id="form" method="POST">
    帳號 <input type="text" name="account_id"><br class="mobile-br">
    姓名 <input type="text" name="name"><br class="mobile-br">
    班級 <input type="text" name="class">
    座號 <input type="number" name="number"><br class="mobile-br">
    密碼 <input type="password" name="password"><br class="mobile-br">
    身份 <select name="role">
        <option value="1">管理員</option>
        <option value="2">老師</option>
        <option value="3">學生</option>
    </select>
    <input type="submit" value="新增">
    <p id="msg">{{ . }}</p>
</form>
</div>
{{ end }}