{{ define "title" }}
重設密碼
{{ end }}
{{ define "content-with-session" }}
{{ $acct := .Account }}
<script src="/static/js/check_password.js"></script>
<div class="middle">
<h1>
{{ if eq $acct.ID .Data.ID }} 重設密碼 {{ else }} 將{{ .Data.Name }}重置為預設密碼 {{ end }}
</h1>
{{ with .Data }}
<form action="/reset" id="form" method="POST">
    <input type="hidden" name="account_id" value="{{ .ID }}">
    {{ if eq $acct.ID .ID }}
        {{ if not .EmptyPassword }}
        <label for="current_passwd">原始密碼</label>
        <input type="password" name="current_password" required><br>
        {{ else }}
        <p>當前密碼為預設密碼，請立即設定新密碼以保護您的帳戶</p>
        {{ end }}
        <label for="new_password">新的密碼</label>
        <input type="password" name="new_password" required><br>
        <label for="match_password">驗證密碼</label>
        <input type="password" name="match_password" oninput="checkPassword()" required><br>
        <input id="reset" disabled type="submit" value="確定">
    {{ else }}
        <label for="current_passwd">驗證密碼</label>
        <input type="password" name="current_password"><br>
        <input type="submit" value="確定">
    {{ end }}
   
</form>
{{ end }}
<p id="msg">{{ .Message }}</p>
</div>
{{ end }}
