{{ define "title" }}
重設{{ .Name }}的密碼
{{ end }}
{{ define "content" }}
<div class="middle">
<h1>{{ template "title" . }}</h1>
<form action="/reset" method="POST">
    <input type="hidden" name="account_id" value="{{ .ID }}">
    <label for="current_passwd">操作者密碼</label>
    <input type="password" name="current_password"><br>
    <label for="new_password">新密碼</label>
    <input type="password" name="new_password"><br>
    <input type="submit" value="重設">
    <p id="msg">{{ .Message }}</p>
</form>
</div>
{{ end }}