{{ define "title" }}
    {{ with .Class }}{{ . }}班{{ else }}全校{{ end }}統計
{{ end }}

{{ define "content-with-session" }}
<script src="/js/load_account_list.js"></script>
<h1>{{ template "title" .Data }}</h1>
{{ if eq .Role 1 }}
<form action="/stats" method="get">
    <label for="class">班級</label>
    <input type="text" name="class" id="">
    <input type="submit" value="查詢">
</form>
{{ end }}
<a href="/export">下載本日資料 (.csv)</a>
{{ with .Data }}
<table>
    <tr>
        <th>總人數</th>
        <th>已記錄人數</th>
        <th>未記錄人數</th>
        <th>發燒人數</th>
    </tr>
</table>

<select name="list_type" id="select_type" onchange="loadAccountList(this)">
    <option value="2" selected>未紀錄</option>
    <option value="1">已紀錄</option> 
    <option value="3">發燒</option>
</select>
<div id="list"></div>
<script>
    let select = document.getElementById("select_type")
    loadAccountList(select)
</script>
{{ end }}

{{ end }}

{{ define "account_list" }}
<table>
    <tr>
        <th>帳號</th>
        <th>姓名</th>
        <th>班級</th>
        <th>座號</th>
        <th>身份</th>
    </tr>
    {{ range . }}
    <tr>
        <td>{{ .ID }}</td>
        <td><a href="/list?account_id={{ .ID }}">{{ .Name }}</a></td>
        <td>{{ .Class }}</td>
        <td>{{ .Number }}</td>
        <td>{{ .Role }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}