{{ define "title" }}
    {{ with .Class }}{{ . }}班{{ end }} {{ with .Date }}{{ . }}{{ end }} 統計資料
{{ end }}

{{ define "content-with-session" }}
<script src="/static/js/load_account_list.js"></script>
<h1>{{ template "title" .Data }}</h1>
{{ $acct := .Account }}
{{ with .Data }}
<form action="/stats" method="get">
    {{ if eq $acct.Record 3 }}
    <label for="class">班級</label>
    <input type="text" name="class" value="{{ .Class }}">
    {{ end }}
    <label>日期</label>
    <input type="date" name="date" value="{{ .Date }}">
    <input type="submit" value="查詢">
</form>
<a href="/export?date={{ .Date }}&class={{ .Class }}">下載{{ template "title" . }} (.csv)</a>
<table>
    <tr>
        <th>總人數</th>
        <th>已記錄人數</th>
        <th>未記錄人數</th>
        <th>發燒人數</th>
    </tr>
    <tr>
        <td>{{ add .Recorded .Unrecorded }}</td>
        <td>{{ .Recorded }}</td>
        <td>{{ .Unrecorded }}</td>
        <td>{{ .Fevered }}</td>
    </tr>
</table>
<input type="radio" name="list_type" onchange="loadAccountList(2, '{{ .Class }}', '{{ .Date }}')" checked autocomplete="off"><label>未記錄</label>
<input type="radio" name="list_type" onchange="loadAccountList(1, '{{ .Class }}', '{{ .Date }}')" autocomplete="off"><label>已記錄</label>
<input type="radio" name="list_type" onchange="loadAccountList(3, '{{ .Class }}', '{{ .Date }}')" autocomplete="off"><label>發燒</label>
<div id="list"></div>
<script>
    loadAccountList(2, '{{ .Class }}', '{{ .Date }}')
</script>
{{ end }}

{{ end }}

{{ define "account_list" }}
<table>
    <tr>
        <th>帳號</th>
        <th>班級</th>
        <th>座號</th>
        <th>姓名</th>
        <th>體溫</th>
        <th>身份</th>
    </tr>
    {{ range . }}
    <tr {{ if .Fever }}class="fever"{{ end }}>
        <td>{{ .Account.ID }}</td>
        <td>{{ .Class }}</td>
        <td>{{ .Number }}</td>
        <td><a href="/list?account_id={{ .Account.ID }}">{{ .Name }}</a></td>
        <td>{{ if .Recorded }}{{ .Record.Temperature }}{{ end }}</td>
        <td>{{ .Authority }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
