{{ define "title" }}今日總覽{{ end }}
{{ define "content" }}
<h1>今日總覽</h1>
<table>
    <tr>
        <th>總人數</th>
        <td>{{ len .All }}</td>
    </tr>
    <tr>
        <th>已登記人數</th>
        <td>{{ sub (len .All) (len .Unrecorded) }}</td>
    </tr>
    <tr>
        <th>未登記人數</th>
        <td>{{ len .Unrecorded }}</td>
    </tr>
    <tr>
        <th>發燒人數</th>
        <td>{{ len .Fever }}</td>
    </tr>
</table>
<h2>發燒列表</h2>
{{ template "account_list" .Fever }}
<h2>未登記列表</h2>
{{ template "account_list" .Unrecorded }}
{{ end }}

{{ define "account_list" }}
<table>
    <tr>
        <th>帳號</th>
        <th>姓名</th>
        <th>班級</th>
        <th>座號</th>
        <th>身份</th>
    </tr>
    {{ range . }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Class }}</td>
        <td>{{ .Number }}</td>
        <td>{{ .Role }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}